{% extends 'teachers/base_app_teacher.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
    <h1 class="h2"> إدراج ملف التربص </h1>
  
</div>


</br>
</br>
<!-- Display Django Messages -->
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
   
    
     
   
    <button type="submit" class="btn btn-primary btn-lg btn-block">إرسال الطلب</button>
</form>


{% endblock content %}