{% extends 'teachers/base_app_teacher.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
    <h1 class="h2"> إدراج ملف التربص <span style ="color:red; font-weight: 900;font-size: 22px; ">***يقصى آليا كل ملف إداري ناقص أي وثيقة مطلوبة***</span> </h1>
  
</div>


</br>
</br>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
   
    
     
   
    <button type="submit" class="btn btn-primary btn-lg btn-block">إرسال الطلب</button>
</form>


{% endblock content %}